# Default ignored files
/../../OOPS /.idea/shelf/
/../../OOPS /.idea/workspace.xml
# Editor-based HTTP Client requests
/../../OOPS /.idea/httpRequests/
# Datasource local storage ignored files
/../../OOPS /.idea/dataSources/
/../../OOPS /.idea/dataSources.local.xml
